:root {
  --primary: #0d6efd;
  --dark: #21252f;
  --body: #888;
  --white: #ffffff;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}

html {
 scroll-behavior: smooth;
} 

body {
  background-color: #2e343a;
}

.sawned {
  width: 170px;
}

ul {
  display: flex;
  list-style: none;
}
.navbar-brand {
  font-size: 25px;
  font-weight: 500;
}
.navbar {
  box-shadow: var(--box-shadow);
}
nav li {
  border: none;
  display: inline-block;
  padding-right: 5px;
  transition: all linear 0.5s;
  margin-right: 20px;
  font-size: 18px;
}
nav li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding-right: 5px;
}
.nav-link {
  color: white !important;
}
.nav-link:hover {
  color: #ffc107 !important;
}
ul li {
  cursor: pointer;
  position: relative;
}
li.active::after {
  position: absolute;
  content: '';
  height: 6px;
  width: 100%;
  background-color: #ff105e;
  left: 0;
  bottom: -7px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  animation: appear 0.2s linear;
}
@keyframes appear {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 15px;
  border: 1px solid black;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #15222b;
  font-weight: 500;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  font-weight: 500;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
@media screen and (max-width: 991.98px) {
  li.active::after {
    width: 30%;
  }
}

/* hero */

.hero {
  background-image: url();
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.hero::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #212529;
  z-index: -1;
}

@media screen and (max-width: 360px) {
  h4 {
    font-size: 17px;
  }
}
.king {
  margin-bottom: 80px;
}

.btnaboutme {
  border-radius: 60px;
  border: 3px solid;
  font-weight: bold;
}

.logo {
  border-radius: 100px;
  padding-top: 10px;
  border: 2px solid;
  margin: 2px;
}

/* about */

.aboutunder {
  position: relative;
  display: inline-block;
}
.aboutunder::before {
  content: '';
  position: absolute;
  background-color: #ffc107;
  width: 100%;
  height: 7px;
  bottom: -10px;
  left: 0;
  right: 0;
}

.daily {
  margin-left: 15px;
  color: #2e343a;
  background-color: #ffc107;
  width: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 80px;
}

.blue4 {
  margin-right: 50px;
}

/* project */

.project {
  position: relative;
  overflow: hidden;
}
.project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #ffc107;
  background-color: #212529ae;
  padding: 30px;
  display: flex;
  align-items: flex-end;
  transition: all 0.4s ease;
  opacity: 1;
}
.project img {
  transition: all 0.4s ease;
}

img {
  width: 100%;
}

.bordah {
  background-color: #212529;
  text-align: center;
  width: auto;
  margin: auto;
  margin-top: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.btnproject {
  margin-left: 7px;
  border: 2px solid #ffc107;
}

.imgdaily {
  width: 358px;
}

.imgproject {
  margin-bottom: 100px;
}

.project {
  background-color: #212529;
  padding-top: 50px;
}

.bordah2 {
  background-color: #2e343a;
  text-align: center;
  width: auto;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  
}


/* CONTACT */

.form-control {
  border: none;
  color: #ffc107;
  border-bottom: 1px solid #ffc107;
  background-color: #2e343a;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  font-size: 18px;
}
.form-control:active,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #ffc107;
  border-color: #ffc107;
  background-color: #2e343a;
}

.form-control {
  height: 55px;
}

form.border-right {
  padding-right: 6rem !important;
}
@media (max-width: 991.98px) {
  form.border-right {
    padding-right: 0 !important;
    border-right: none !important;
  }
}

label.error {
  font-size: 12px;
  color: red;
}

#message {
  resize: vertical;
}

#form-message-warning,
#form-message-success {
  display: none;
  color: white;
}

#form-message-warning {
  color: #b90b0b;
}

#form-message-success {
  color: #55a44e;
  font-size: 18px;
  font-weight: bold;
}

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
}

::-webkit-input-placeholder {
  font-size: 18px;
  color: #ffc107;
}

.boxcontact {
  box-shadow: var(--box-shadow);
  padding-top: 70px;
  padding-bottom: 70px;
}

/* footer */

.footer {
  background-color: #212529;
  padding-top: 50px;
}

.baby {
  margin-bottom: 120px;
}